@import components/fonts

=media ($size)
    @media screen and ( min-width: #{$size}px )
        @content

// body

hr
    margin: 0.31rem 0

h2
    letter-spacing: 0.12rem
    line-height: 4.12rem
    font: 400 3.5rem "Rubik"
    text-transform: uppercase
    color: #ffffff

h3
    letter-spacing: 0.06rem
    font: 400 2.25rem "Rubik"
    text-transform: uppercase
    color: #333

h4
        font: 400 1.12rem "Rubik"
        color: #333

.wrapper
    margin: auto
    // padding: 0 14.3rem
    max-width: 78rem

.header
    padding-top: 1.87rem
    background: linear-gradient(transparent 75%, #f5f8fa 100%), url(../img/header_background.jpg) center bottom / cover

    h1
        margin-bottom: 0.62rem
        letter-spacing: 0.06rem
        font: 400 4.5rem/1em "Rubik"
        text-align: center
        text-transform: uppercase
        color: #fff

.main_navigation
    justify-content: space-between
    // align-items: center
    row-gap: 1.25rem
    // +media(392)
    //     flex-wrap: nowrap

    b
        color: #fff

.logo
    position: relative
    padding-left: 2.56rem
    text-decoration: none

    img
        position: absolute
        // margin-right: 8px
        left: 0
        top: 0.31rem

    p
        margin-bottom: 0.87rem

    b
        font: 500 2.25rem "Exo 2"

.list
    list-style: none

    li
        
        &:last-child

            a
                padding-right: 0

    a
        display: inline-block
        padding: 0.81rem 0.93rem
        letter-spacing: 0.06rem
        font: 400 0.87rem "Rubik"
        text-decoration: none
        text-transform: uppercase
        color: #fff
        transition: all .5s ease

        &:hover
            color: #ffb700

.header_section
    padding: 12.5rem 0 16.43rem

.header_discription
    position: relative
    flex-direction: column
    // margin: 170rem 0

    &:before,
    &:after
        position: absolute
        content: ''
        left: calc(50% - 11.56rem)
        width: 23.12rem
        border: 0.25rem solid #fff
        opacity: 0.102

    &:before
        top: -3.12rem
        height: 2.5rem
        border-bottom: none

    &:after
        bottom: 3.12rem
        height: 5.81rem
        border-top: none
        z-index: 0

    p
        margin: 0.62rem 0 1.56rem
        max-width: 33rem

.discription
    margin: 0
    font: 400 italic 1rem/1.5rem "Rubik"
    color: #fff

.more_detail_button,
.main_offer_button
    z-index: 1

    a
        display: inline-block
        padding: 0.84rem 1.87rem
        letter-spacing: 0.06rem
        font: 400 16px "Rubik"
        text-transform: uppercase
        text-decoration: none
        color: #fdfcfb
        background-color: #ffb700
        border-radius: 1.43rem
        box-shadow: 0 0.25rem 0.65rem rgba(193,139,1,0.24)
        // box-sizing: border-box
        transition: all .5s ease

        &:hover
            // color: $lightGray
            // background-color: #fd8300
            color: #ffb700
            background-color: #fff
            // border: 2px solid #ffb700
            // box-shadow: 0px 4px 10.5px rgba(193,139,1,0.24), 
            // box-shadow: 4px 0px 10.5px rgba(193,139,1,0.24)

.pricing_table
    flex-direction: column
    padding-bottom: 5.93rem

    h3
        // margin-bottom: 15px
        max-width: 19.75rem

    p
        margin-bottom: 2.06rem
        color: #333

.arrow
    // margin: auto
    width: 1.12rem
    height: 1.25rem

//     a
//         position: relative
//         // width: 100%
//         // height: 100%
//         // transition: all .5s ease

//         // &:hover
//         //     border-radius: 32rem
//         //     background-color: $transparent
//         //     border-color: #fff

//         //     &:before
//         //         background-color: #fff

//         //     &:after
//         //         border: 2rem solid #fff
//         //         border-top: none
//         //         border-right: none
        
//         &:before,
//         &:after
//             position: absolute
//             content: ''
//             left: 0
//             bottom: -44px
//             width: 12px
//             height: 12px
//             border: 3px solid #000
//             border-top: none
//             border-right: none
//             transform: rotate(-45deg)

//         &:after
//             bottom: -53px

.main
    background-color: #f5f8fa

.travel_plans
    padding: 2.5rem 0 3.87rem
    // column-gap: 30px

.grey
    color: #555

.mb-20
    margin-bottom: 1.25rem

.additional_text
    font: 400 0.81rem "Rubik"
    color: #bbb

.offers
    margin-bottom: 2rem

    figure
        position: relative

    figcaption
        padding: 1.75rem 1.25rem
        transition: all .5s ease

        &:hover
            background-color: #fff
            box-shadow: 0 0.25rem 0.65rem rgba(3,20,31,0.05)

    // img
    //     margin-bottom: 25px

.favorite_plans_mark
    position: absolute
    // display: inline-block
    top: 0
    left: 0.93rem
    width: 3.75rem
    height: 3.75rem
    background: linear-gradient(to right bottom, #26cb15 50%, transparent 50%)

.fav_icon
    position: absolute
    top: 0.56rem
    left: 0.62rem
    width: 1rem
    height: 1rem

.offers_icon
    width: 3.62rem
    height: 3.62rem

.price
    margin: 0.62rem 0
    font: 400 1.5rem "Rubik"
    color: #09f

.product_description
    margin-bottom: 1.25rem
    font: 400 0.81rem "Rubik"
    color: #999

.all_plans_button

    a
        // position: relative
        // max-width: 140px
        font: 400 0.75rem "Rubik"
        text-decoration: none
        text-transform: uppercase
        color: #09f

        // &:before,
        // &:after
        //     position: absolute
        //     content: ''
        //     right: -18px
        //     top: 1px
        //     width: 11px
        //     height: 11px
        //     background-color: rgba(255,183,0,0)
        //     border: 1px solid #09f
        //     border-radius: 5px

        // &:after
        //     top: 4px
        //     right: -14.5px
        //     width: 5px
        //     height: 5px
        //     border-top: none
        //     border-left: none
        //     border-radius: 2px
        //     transform: rotate(-45deg)

.main_offer
    padding: 4.68rem 0 4.37rem

    h3
        margin-bottom: 1.12rem

// .main_offer_plan
//     padding-bottom: 8px

.plan_discription
    margin-bottom: 2rem
        
.dark
    color: #333

// .main_offer_buttons
//     column-gap: 10px
//     pow-gap: 10px

.buy_button

    a
        padding: 0.84rem 1.5rem

.offer_more_detail_button
    
    a
        display: inline-block
        padding: 0.71rem 2.06rem
        letter-spacing: 0.06rem
        font: 400 1rem "Rubik"
        text-transform: uppercase
        text-decoration: none
        color: #09f
        background-color: rgba(0,153,255,0)
        border: 0.12rem solid #09f
        border-radius: 1.43rem
        transition: all .5s ease

        &:hover
            color: #fff
            background-color: #09f

.main_plan
    padding: 2.62rem 2.62rem 2.25rem
    // max-width: 17.93rem
    background-color: #edf2f5
    box-sizing: border-box

.main_plan_price
    margin: 0 0 0.87rem

.important_proposal
    background: linear-gradient(rgba(#142f3f, .8), rgba(#142f3f, .8)), url(../img/important_proposal.jpg) center / cover

.proposal_discription
    // row-gap: 15px

    h2
        margin-bottom: 0.12rem

    p
        max-width: 30rem
        font: 400 1rem/1.5rem "PT Sans"
        color: #fff

    a
        padding: 0.84rem 2.12rem

.blue
    color: #09f

.review
    position: relative
    padding: 2.18rem

    &:before,
    &:after
        position: absolute
        content: ''
        top: 0
        width: 12.5rem
        height: 14.68rem
        border: 0.25rem solid #fff
        opacity: 0.102

    &:before
        left: 0
        border-right: none

    &:after
        right: 0
        border-left: none

.review_text
    position: relative
    margin-bottom: 0.75rem

    &:before
        position: absolute
        content: " ” "
        left: calc(50% - 2.5rem)
        top: 0.62rem
        // width: 30px
        // height: 30px
        font-size: 12.5rem
        color: #ffb700

.white
    color: #fff

.user_status
    position: relative
    margin-bottom: 0.75rem
    font: 400 0.87rem "Rubik"
    color: #999

    &:before
        position: absolute
        content: ''
        left: calc(50% - 2.68rem)
        top: 1.62rem
        width: 5.37rem
        height: 5.37rem
        background: url(../img/client_photo.jpg)
        border-radius: 50%

.special_plans
    padding: 4.37rem 0 5.5rem

.title_plans
    margin-bottom: 2.06rem

.special_proposals

    figure
        position: relative

        figcaption
            transition: all .5s ease

            &:hover
                background-color: #fff
                box-shadow: 0 0.25rem 0.65rem rgba(3,20,31,0.05)

.special_plan_discription
    padding: 1.25rem

.buy_block
    justify-content: space-between

    a
        font: 400 0.81rem "Rubik"
        text-transform: uppercase
        text-decoration: none
        color: #ffb700

.additional_information
    padding: 5.12rem 0

.work_schedule
    justify-content: end
    flex-direction: column
    padding: 1.5rem 1.25rem 1.87rem
    // max-width: 270px
    // width: 100%
    background: url(../img/work_schedule.jpg) center / cover

.work_schedule_discription,
.nutrition_information_discription
    margin: 1rem 0 1.68rem
    font: 400 0.81rem/1.18rem "Rubik"
    color: #fefefe

.download_button

    a
        position: relative
        padding: 0.43rem 1rem 0.37rem 2.18rem
        font: 400 0.75rem "Rubik"
        text-decoration: none
        text-transform: uppercase
        color: #ffb700
        border: 2px solid #ffb700
        border-radius: 1rem

        &:before
            position: absolute
            content: ''
            left: 1rem
            width: 0.93rem
            height: 0.68rem
            background: url(../img/download_icons.png)


.nutrition_information
    justify-content: end
    flex-direction: column
    padding: 1.5rem 1.25rem 1.87rem
    // max-width: 270px
    // width: 100%
    background: url(../img/nutrition_information.jpg) center / cover

.support
    position: relative
    padding: 2.37rem 3.23rem 0
    // padding-top: 38px
    width: 100%

    &:before,
    &:after
        position: absolute
        content: ''
        top: 0
        width: 3rem
        height: 16.87rem
        border: 4px solid #ffb700

    &:before
        left: 0
        border-right: none

    &:after
        right: 0
        border-left: none

    a
        justify-content: center
        text-decoration: none

    .user_status
        font: 400 1rem "PT Sans"

        &:before
            position: absolute
            content: ''
            left: calc(50% - 2.68rem)
            top: 2.25rem
            width: 5.37rem
            height: 5.37rem
            background: url(../img/consultant_photo.jpg)
            border-radius: 50%

.absolute
    position: absolute
    top: -0.62rem
    left: 4.5rem

.support_discription
    padding: 0 1.06rem
    margin-bottom: 1.87rem
    font: 400 0.81rem "Rubik"
    color: #999

// .svg
//     width: 21px
//     height: 16px
//     fill: #0099ff

.arrow_all_plans,
.arrow_special_plan
    width: 0.75rem
    height: 0.78rem

.phone_icon
    width: 1.31rem
    height: 1.31rem

.phone

    h4
        color: #0099ff

.footer

    h4
        padding: 1.12rem 0 0.93rem
        color: #fff
        
.footer_main
    min-height: 25rem
    background: linear-gradient(#f5f8fa 0%, transparent 15%), url(../img/footer_background.jpg) center / cover
    // background: linear-gradient(transparent 75%, #f5f8fa 100%), url(../img/header_background.jpg) center bottom / cover

.footer_copy
        background-color: #1a1a1a

.sprite
    display: none



    