@import components/fonts

=media ($size)
    @media screen and ( min-width: #{$size}px )
        @content

html
    font-size: 14px
    +media(768)
        font-size: 16px

// body

hr
    margin: 0.31rem 0

h2
    letter-spacing: 0.12rem
    line-height: 4.12rem
    font: 400 1.96rem "Rubik"
    text-transform: uppercase
    color: #ffffff
    +media(398)
        font: 400 2.62rem "Rubik"
    +media(504)
        font: 400 3rem "Rubik"
    +media(1200)
        font: 400 3.5rem "Rubik"
        

h3
    letter-spacing: 0.06rem
    font: 400 2.25rem "Rubik"
    text-transform: uppercase
    color: #333

h4
        font: 400 1.12rem "Rubik"
        color: #333

.wrapper
    margin: auto
    // padding: 0 14.3rem
    max-width: 78rem

.header
    padding-top: 1.5rem
    background: linear-gradient(transparent 75%, #f5f8fa 100%), #4db1f2 url(../img/header_background.webp) center bottom / cover

    h1
        margin-bottom: 0.62rem
        letter-spacing: 0.06rem
        font: 400 2.8rem/1em "Rubik"
        text-align: center
        text-transform: uppercase
        color: #fff
        +media(553)
            font: 400 3.25rem/1em "Rubik"
        +media(618)
            font: 400 3.89rem/1em "Rubik"
        +media(768)
            font: 400 4.5rem/1em "Rubik"

.main_navigation
    justify-content: space-between
    // align-items: center
    row-gap: 1.25rem
    // +media(392)
    //     flex-wrap: nowrap

    b
        color: #fff

.logo
    position: relative
    padding-left: 2.56rem
    text-decoration: none

    img
        position: absolute
        // margin-right: 8px
        left: 0
        top: 0.31rem

    p
        margin-bottom: 0

    b
        font: 500 2.25rem "Exo 2"

.list
    list-style: none

    a
        display: inline-block
        padding: 0.81rem 0.93rem
        letter-spacing: 0.06rem
        font: 400 0.87rem "Rubik"
        text-decoration: none
        text-transform: uppercase
        white-space: nowrap
        color: #fff
        transition: all .5s ease

        &:hover
            color: #ffb700

    li:last-child a
        +media(992)
            padding-right: 0

.burger_menu
    position: relative
    width: 2.5rem
    height: 2.5rem

.top,
.middle,
.bottom
    position: absolute
    left: .2rem
    width: 2rem
    height: .2rem
    background-color: #fff
    border-radius: .18rem
    transition: all 0.4s ease

.top
    transform: rotate(45deg)

.middle
    opacity: 0
    transform: translateY(-50%)
    transition-duration: 0

.bottom
    transform: rotate(-45deg)

.collapsed .top
    top: .6rem
    transform: rotate(0)

.collapsed .middle
    opacity: 1

.collapsed .bottom
    bottom: .6rem
    transform: rotate(0)

.header_section
    padding: 16.5rem 0 16.43rem

.header_discription
    position: relative
    flex-direction: column
    max-width: 43.75rem
    // margin: 170rem 0

    &:before,
    &:after
        position: absolute
        content: ''
        left: 50%
        width: 73%
        border: 0.25rem solid #fff
        transform: translateX(-50%)
        opacity: 0.102
        +media(576)
            width: 53%

    &:before
        top: -3.12rem
        height: 2.5rem
        border-bottom: none

    &:after
        bottom: -4rem
        height: 5.81rem
        border-top: none
        z-index: 0

    p
        margin: 0.8rem 0 1.6rem
        max-width: 33rem

.discription
    margin: 0
    font: 400 italic 1rem/1.5rem "Rubik"
    color: #fff

.more_detail_button,
.main_offer_button
    z-index: 1

    a
        display: inline-block
        padding: 0.84rem 1.87rem
        letter-spacing: 0.06rem
        font: 400 16px "Rubik"
        text-transform: uppercase
        text-decoration: none
        white-space: nowrap
        color: #fdfcfb
        background-color: #ffb700
        border-radius: 1.43rem
        box-shadow: 0 0.25rem 0.65rem rgba(193,139,1,0.24)
        // box-sizing: border-box
        transition: all .5s ease

        &:hover
            // color: $lightGray
            // background-color: #fd8300
            color: #ffb700
            background-color: #fff
            // border: 2px solid #ffb700
            // box-shadow: 0px 4px 10.5px rgba(193,139,1,0.24), 
            // box-shadow: 4px 0px 10.5px rgba(193,139,1,0.24)

.pricing_table
    flex-direction: column
    padding-bottom: 5.93rem

    h3
        // margin-bottom: 15px
        max-width: 19.75rem

    p
        margin-bottom: 2.06rem
        color: #333

.arrow
    // margin: auto
    width: 1.12rem
    height: 1.25rem
    animation: arrow 1s linear alternate infinite

@keyframes arrow
    100%
        transform: translateY(20px)

.main
    background-color: #f5f8fa

.travel_plans
    padding: 2.5rem 0 3.87rem
    // column-gap: 30px

.grey
    color: #555

.mb-20
    margin-bottom: 1.25rem

.additional_text
    font: 400 0.81rem "Rubik"
    color: #bbb

.offers
    margin-bottom: 2rem

    figure
        position: relative

    figcaption
        padding: 1.75rem 1.25rem
        transition: all .5s ease

        a
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0

        &:hover
            background-color: #fff
            box-shadow: 0 0.25rem 0.65rem rgba(3,20,31,0.05)

.figure:last-child
    margin-left: auto
    margin-right: auto

    // img
    //     margin-bottom: 25px

.favorite_plans_mark
    position: absolute
    top: 0
    left: 0
    width: 3.75rem
    height: 3.75rem
    background: linear-gradient(to right bottom, #26cb15 50%, transparent 50%)

.fav_icon
    position: absolute
    top: 0.56rem
    left: 0.62rem
    width: 1rem
    height: 1rem

.offers_icon
    width: 3.62rem
    height: 3.62rem

.orange_svg
    fill: #ffb700

.price
    margin: 0.62rem 0
    font: 400 1.5rem "Rubik"
    color: #09f

.product_description
    margin-bottom: 1.25rem
    font: 400 0.81rem "Rubik"
    color: #999

.all_plans_button a
    position: relative
    padding-right: 1.12rem
    font: 400 0.75rem "Rubik"
    text-decoration: none
    text-transform: uppercase
    color: #09f

    &:hover span:before
        transform: scaleX(1)

    span
        position: relative

        &:before
            position: absolute
            content: ''
            bottom: -3px
            left: 0
            width: 100%
            height: 1px
            background-color: #09f
            transform: scaleX(0)
            transform-origin: left
            transition: transform .5s ease-in

    &:hover svg
        transform: translate(1rem, -50%) rotate(360deg)

    svg
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)
        transition: all 1s ease-out .5s

.main_offer
    padding: 4.68rem 0 4.37rem

    h3
        margin-bottom: 1.12rem
        font: 400 1.75rem "Rubik"
        +media(429)
            font: 400 2.25rem "Rubik"

.plan_discription
    margin-bottom: 2rem
        
.dark
    color: #333

.buy_button a
    padding: 0.84rem 1.5rem

.offer_more_detail_button a
    display: inline-block
    padding: 0.71rem 2.06rem
    letter-spacing: 0.06rem
    font: 400 1rem "Rubik"
    text-transform: uppercase
    text-decoration: none
    color: #09f
    background-color: rgba(0,153,255,0)
    border: 0.12rem solid #09f
    border-radius: 1.43rem
    transition: all .5s ease

    &:hover
        color: #fff
        background-color: #09f

.main_plan
    padding: 2.62rem 2.62rem 2.25rem
    // max-width: 17.93rem
    background-color: #edf2f5
    box-sizing: border-box

.main_plan_price
    margin: 0 0 0.87rem

.important_proposal
    background: linear-gradient(rgba(#142f3f, .8), rgba(#142f3f, .8)), #46535d url(../img/important_proposal.webp) center / cover

.proposal_discription
    // row-gap: 15px

    h2
        margin-bottom: 0.12rem

    p
        margin: 1rem 0 1.87rem
        font: 400 1rem/1.5rem "PT Sans"
        color: #fff

    a
        padding: 0.84rem 2.12rem

.blue
    color: #09f

.review
    position: relative
    padding: 2.18rem

    &:before,
    &:after
        position: absolute
        content: ''
        top: 0
        width: 37.5%
        height: 100%
        border: 0.25rem solid #fff
        opacity: 0.102

    &:before
        left: 0
        border-right: none

    &:after
        right: 0
        border-left: none

.quote_icon
    position: absolute
    top: -0.8rem
    left: calc(50% - 1.3rem)
    width: 2.62rem
    height: 2.31rem

.review_text
    margin-bottom: 0.75rem

.white
    color: #fff

.user_status
    position: relative
    margin-bottom: 0.75rem
    font: 400 0.87rem "Rubik"
    color: #999

    &:before
        position: absolute
        content: ''
        left: calc(50% - 2.68rem)
        top: 1.62rem
        width: 5.37rem
        height: 5.37rem
        background: url(../img/client_photo.webp)
        border-radius: 50%

.special_plans
    padding: 4.37rem 0 5.5rem

.title_plans
    margin-bottom: 2.06rem

    h3
        font: 400 1.62rem "Rubik"
        +media(433)
            font: 400 2.25rem "Rubik"

.special_proposals figure
    position: relative

    figcaption
        // min-height: 22.68rem
        transition: all .5s ease

        &:hover
            background-color: #fff
            box-shadow: 0 0.25rem 0.65rem rgba(3,20,31,0.05)

.img_link
    position: absolute
    top: 0
    right: 0
    bottom: 4rem
    left: 0

.special_plan_discription
    padding: 1.25rem

    h4
        white-space: nowrap

    .product_description
        min-height: 3.8rem

.buy_block
    justify-content: space-between

.special_plan_button a
    position: relative
    padding-right: 1.12rem
    font: 400 0.81rem "Rubik"
    text-decoration: none
    text-transform: uppercase
    color: #ffb700

    &:hover span:before
        transform: scaleX(1)

    span
        position: relative

        &:before
            position: absolute
            content: ''
            bottom: -3px
            left: 0
            width: 100%
            height: 1px
            background-color: #ffb700
            transform: scaleX(0)
            transform-origin: left
            transition: transform .5s ease-in

    svg
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)

.additional_information
    padding: 4.12rem 0

.work_schedule
    justify-content: end
    flex-direction: column
    padding: 1.5rem 1.25rem 1.87rem
    // max-width: 270px
    // width: 100%
    background: #46535d url(../img/work_schedule.webp) center / cover

.file
    min-height: 66px

.file_icon
    width: 40px
    height: 46px

.additional_information_discription
    margin: 1rem 0 1.68rem
    font: 400 .75rem/1.18rem "Rubik"
    color: #fefefe
    +media(1400)
        font-size: .81rem

.download_button a
    position: relative
    padding: 0.43rem 1rem 0.37rem 2.16rem
    font: 400 0.75rem "Rubik"
    text-decoration: none
    text-transform: uppercase
    color: #ffb700
    border: 2px solid #ffb700
    border-radius: 1rem

    &:hover
        color: #fff
        background-color: #ffb700
        border-color: transparent
        transition: all .5s ease

    &:hover svg
        fill: #fff

    svg
        position: absolute
        top: 50%
        left: .75rem
        transform: translateY(-50%)

.download_icons
    width: 1.37rem
    height: .93rem

.nutrition_information
    justify-content: end
    flex-direction: column
    padding: 1.5rem 1.25rem 1.87rem
    // max-width: 270px
    // width: 100%
    background: #46535d url(../img/nutrition_information.webp) center / cover

.support
    position: relative
    padding: 2.37rem 2.68rem 2.77rem
    // padding-top: 38px
    width: 100%

    &:before,
    &:after
        position: absolute
        content: ''
        top: 0
        width: 17%
        height: 100%
        border: 4px solid #ffb700

    &:before
        left: 0
        border-right: none

    &:after
        right: 0
        border-left: none

    a
        justify-content: center
        text-decoration: none

    .user_status
        font: 400 1rem "PT Sans"

        &:before
            position: absolute
            content: ''
            left: calc(50% - 2.68rem)
            top: 2.25rem
            width: 5.37rem
            height: 5.37rem
            background: url(../img/consultant_photo.webp)
            border-radius: 50%

.absolute
    position: absolute
    top: -0.62rem
    left: calc(50% - 4.3rem)

.support_discription
    padding: 0 1.06rem
    margin-bottom: 1.87rem
    font: 400 0.81rem "Rubik"
    color: #999

// .svg
//     width: 21px
//     height: 16px
//     fill: #0099ff

.arrow_all_plans,
.arrow_special_plan
    width: 0.75rem
    height: 0.78rem

.phone_icon
    width: 1.31rem
    height: 1.31rem
    fill: #09f

.phone h4
    // padding-left: 22px
    color: #09f

.footer h4
    padding: 1.12rem 0 0.93rem
    color: #fff
        
.footer_main
    min-height: 25rem
    background: linear-gradient(#f5f8fa 0%, transparent 15%), url(../img/footer_background.webp) center / cover
    // background: linear-gradient(transparent 75%, #f5f8fa 100%), url(../img/header_background.jpg) center bottom / cover

.footer_copy
    background-color: #1a1a1a

.sprite
    display: none